        </section>
        <script type="text/javascript">
        //<![CDATA[
            var ImpressL10n = {
                navigationTip:'Use a spacebar or arrow keys to navigate',
                touchNavigationTip : 'Touch on the left or on the right to navigate',
                manageVisualEffects : 'Enable/disable visual effects',
                manageVisualEffectsHint : 'Please use this link to disable or enable the visual effects',
                enableVisualEffects : 'Enable visual effects',
                disableVisualEffects : 'Disable visual effects'
            };
        //]]>
        </script>
        <script src="assets/js/jumbo.js"></script>
        <noscript class="no-print" lang="en">
            <div>Unable to use JavaScript. <strong>The functionality will be greatly reduced.</strong></div>
        </noscript>
    </body>
</html>
<!-- 2013-2015, Cláudio Esperança <cesperanc@gmail.com> -->