<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title data-l10n-id="pageTitle">Introduction to the development of (+) accessible websites</title>
        <meta name="viewport" content="width=1024" />
        
        <meta name="description" content="General information about some techniques and recommendations for the development of more accessible websites" />
        <meta name="author" content="Cláudio Esperança" />

        <link href="assets/css/styles.css" rel="stylesheet"/>

        <link rel="shortcut icon" href="assets/images/favicon.ico" />
        <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />

        <link href="assets/vendor/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />

        <script src="assets/vendor/modernizr/modernizr.min.js"></script>
         
    </head>

    <body class="impress-loading">
        <a class="screen-reader-text no-print" href="#index" title="Follow the link to go the beginning of the document">Go to the beginning</a>

        <div class="fallback-message no-print">
            <p>Your browser <strong>does not support</strong> all the functionalities required for this presentation.</p>
            <p>To a better experience please use the last version of <a href="http://www.google.com/intl/en-US/chrome/browser/" target="_blank" title="Visit the Google Chrome download page">Google Chrome</a>.</p>
        </div>

        <section id="impress" role="main">