        </section>
        <div id="impress-toolbar" class="no-print"><!--[lang-toolbar]--></div>
        <script type="text/javascript">
        //<![CDATA[
            var ImpressL10n = {
                navigationTip : 'Utilize a barra de espaços ou as setas direcionais para navegar',
                touchNavigationTip : 'Toque à esquerda ou à direita para navegar',
                manageVisualEffects : 'Ativar/desativar efeitos gráficos',
                manageVisualEffectsHint : 'Utilize esta hiperligação para desativar ou ativar os efeitos gráficos',
                enableVisualEffects : 'Ativar os efeitos gráficos',
                disableVisualEffects : 'Desativar os efeitos gráficos'
            };
        //]]>
        </script>
        <noscript class="no-print">
            <div>Não é possível utilizar o JavaScript.</div>
        </noscript>
        <script src="assets/js/jumbo.js"></script>
        <noscript class="no-print">
            <div>Não é possível utilizar o JavaScript. <strong>A funcionalidade será fortemente reduzida.</strong></div>
        </noscript>
    </body>
</html>
<!-- 2013-2015, Cláudio Esperança <cesperanc@gmail.com> -->