<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-PT"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-PT"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-PT"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-PT"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title data-l10n-id="pageTitle">Introdução ao desenvolvimento de sítios web (+) acessíveis</title>
        <meta name="viewport" content="width=1024" />
        
        <meta name="description" content="Informações gerais sobre algumas técnicas e recomendações para o desenvolvimento de sítios web mais acessíveis" />
        <meta name="author" content="Cláudio Esperança" />

        <link href="assets/css/styles.css" rel="stylesheet"/>

        <link rel="shortcut icon" href="assets/images/favicon.ico" />
        <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />

        <script src="assets/vendor/modernizr/modernizr.min.js"></script>
         
    </head>

    <body class="impress-loading">
        <a class="screen-reader-text no-print" href="#index" title="Siga a hiperligação para ir para o ínicio">Ir para o inicio</a>

        <div class="fallback-message no-print">
            <p>O seu navegador <strong>não suporta</strong> todas as funcionalidades necessárias para esta apresentação.</p>
            <p>Para uma melhor experiência utilize a última versão do <a href="http://www.google.com/intl/pt-PT/chrome/browser/" target="_blank" title="Siga a hiperligação para visitar a página do Google Chrome">Google Chrome</a>.</p>
        </div>

        <section id="impress" role="main">